/*----------------------------------*\
  #MY-RECIPES COMPONENT
\*----------------------------------*/

.container__table {
   display: flex;
   flex-direction: column;
   gap: 0.63rem;
}

.container__table--title-box {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   font: normal normal bold 1rem/1.3rem Roboto;
}

.inner-left {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   width: 50%;
   padding: 0 0.3rem 0 2rem;
}

.inner-right {
   margin-right: 1.7rem;
}