/*----------------------------------*\
  #NAVBAR COMPONENT
\*----------------------------------*/

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 16.6vh;
  width: 70%;
  margin: 0 auto;
}


.navbar-container__logo {
  cursor: pointer;
}


.navbar-container__logo img {
  width: 100%;
}


.navbar-container__category {
  display: flex;
  flex-direction: row;
  width: 34%;
  justify-content: space-between;
}


.navbar-container__category--links {
  font: normal normal bold 1.125rem/1.5rem Roboto;
  text-align: center;
  text-transform: uppercase;
  color: #a5a5a5;
  text-decoration: none;
}


.navbar-container__category--links:active,
.navbar-container__category--links:focus,
.navbar-container__category--links:hover {
  color: #f0972a;
}


.navbar-container__category--circles {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: #f0972a;
  margin: auto;
}


.navbar__logged-out,
.navbar__logged-in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 0px;
}





/*----------------------------------*\
  #NAVBAR LOGGED IN COMPONENT
\*----------------------------------*/

.navbar__logged-in {
  gap: 0 1.08vh;
  min-width: 20vw;
}


.navbar__logged-in--circles {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: #626262;
  margin: auto;
}


.navbar__logged-in--links {
  font: normal normal 900 1.125rem/1.5rem Roboto;
  text-transform: uppercase;
  border-bottom: 0.125rem solid #b5b5b4;
}


.one {
  color: #96bb36;
}


.two {
  color: #f0972a;
}


.three {
  color: #b5b5b4;
}


.one:hover,
.two:hover,
.three:hover {
  color: #626262;
  border-bottom: 0.125rem solid #626262;
}





/*----------------------------------*\
  #NAVBAR LOGGED OUT COMPONENT
\*----------------------------------*/

.navbar__logged-out {
  width: 25%;
}


.navbar__logged-out div {
  color: #f0972a;
  font: normal normal 900 1rem/1.31rem Roboto;
}


.navbar__logged-out--button-login {
  width: 32%;
  padding: 0.75rem 0;
}


.navbar__logged-out--button-create {
  padding: 0.75rem 0;
  width: 53%;
}
